<form class="form-login" method="post" action="/users/login">

            <div class="form-register-with-email">

                <div class="form-white-background">

                  
                    <div class="form-row">
                        <label>
                            <span>username</span>
                            <input type="text" name="username">
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Password</span>
                            <input type="password" name="password">
                        </label>
                    </div>

                        <button type="submit">Login</button>
                    </div>

                </div>
            </div>
</form>