<form class="form-register" method="post" action="/users/register">

            <div class="form-register-with-email">

                <div class="form-white-background">

                    <div class="form-title-row">
                        <h1>Create an account</h1>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Name</span>
                            <input type="text" name="name" placeholder="Full Name">
                        </label>
                    </div>
                   <div class="form-row">
                        <label>
                            <span>Username</span>
                            <input type="text" name="username" placeholder="IITK Username">
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Email</span>
                            <input type="email" name="email" placeholder="Email">
                        </label>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Password</span>
                            <input type="password" name="password" placeholder="Password">
                        </label>
                    </div>
                       <div class="form-row">
                        <label>
                            <span>Confirm Password</span>
                            <input type="password" name="password2" placeholder="Confirm Password">
                        </label>
                    </div>

                    
                    <div class="form-row">
                        <label>
                            <span>Type</span>
                            <input type="text" name="type" placeholder="Type professor or student">
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Roll no</span>
                            <input type="text" name="roll" placeholder="IIT Roll">
                        </label>
                    </div>
                    <div class="form-row">
                        <button type="submit">Register</button>
                    </div>

</form>