{{#if user}}
 <h2 class="page-header">Dashboard</h2>

<p>Welcome to Student dashboard</p>
{{else}}  
<form class="form-basic">

            <div class="form-title-row">
                <h1>You are not logged In</h1>
        
              </form>
              {{/if}}
       
